


h1 {
font-family: 'Barlow', sans-serif;
text-align: center;
margin-bottom: 90px;
margin-top: 200px;
max-width: 1000px;
margin-left: auto;
margin-right: auto;
font-size: 40px;
line-height: 50px;
background-color: #FFFFFF;
}



h4{
font-family: 'Barlow', sans-serif;
font-size: 25px;
text-align: center;
margin-bottom: 50px;
margin-top: 100px;
font-weight: 600;

}

h3{
font-family: 'Barlow', sans-serif;
font-size: 25px;
font-weight: 500;
margin-left: 250px;
margin-right: 250px;
line-height: 50px;
margin-bottom: 100px;
}

h5{
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 25px;
line-height: 40px;
margin-left: 250px;
margin-right: 300px;
margin-top: 150px;

}

p{
  font-family: 'Cormorant Garamond', serif;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 25px;
line-height: 40px;
margin-top: 50px;
}
