

header{
height: 80px;
position: fixed;
background-color: #FFFFFF;
margin-top: 0px;
width: 100%;
image-resolution: 20px;

}


h1 {
text-align: center;
margin-bottom: 8rem;
margin-top: 200px;
margin-left: 100px;
margin-right: 100px;
font-family: 'Barlow', sans-serif;
font-size: 40px;
line-height: 50px;
font-weight: 400;
letter-spacing: 0em;
background-color: #FFFFFF;
}

img{
margin-left: auto;
margin-right: auto;
align-items: center;
width: 100px;

}


h4{
font-family: 'Barlow', sans-serif;
font-size: 2em;
text-align: center;
margin-bottom: 300px;
margin-top: 100px;
font-weight: 600;

}

h3{
font-family: 'Barlow', sans-serif;
font-size: 25px;
font-weight: 500;
margin-left: 250px;
margin-right: 250px;
line-height: 50px;
margin-bottom: 100px;
}

h5{
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 25px;
line-height: 40px;
margin-left: 250px;
margin-right: 300px;
margin-top: 150px;

}

p{
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-size: 25px;
line-height: 40px;
margin-left: 300px;
margin-right: 300px;
margin-top: 50px;
}
